:root {
    --light: #ffffff;
    --dark: #000000;
    --purple: #8751be;
}

html, body {
    margin: 0;
    height: 100%;
    font-family: 'Spartan', sans-serif;
    font-size:  1.2rem;
    line-height: 1.6;
}

.section {
    background-image: url(/LandingMobileApp/media/bckimage.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

h1 {
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
}

.text-light {
    color: var(--light);
}

@media (max-width: 576px) {
    section {
        background-image: url();
    }
}